.elementor-177 .elementor-element.elementor-element-ef858dd{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--background-transition:0.3s;--padding-top:160px;--padding-bottom:140px;--padding-left:10px;--padding-right:10px;}.elementor-177 .elementor-element.elementor-element-ef858dd:not(.elementor-motion-effects-element-type-background), .elementor-177 .elementor-element.elementor-element-ef858dd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#27272F;}.elementor-177 .elementor-element.elementor-element-ef858dd, .elementor-177 .elementor-element.elementor-element-ef858dd::before{--border-transition:0.3s;}.elementor-177 .elementor-element.elementor-element-75e28cc{--display:flex;--background-transition:0.3s;}.elementor-177 .elementor-element.elementor-element-75e28cc.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-177 .elementor-element.elementor-element-3f552f4 > .elementor-widget-container{margin:0px 0px 5px 0px;}.elementor-177 .elementor-element.elementor-element-3f552f4 .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-177 .elementor-element.elementor-element-3f552f4 .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-177 .elementor-element.elementor-element-3f552f4{--e-icon-list-icon-size:20px;--icon-vertical-align:flex-start;--icon-vertical-offset:3px;}.elementor-177 .elementor-element.elementor-element-3f552f4 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-177 .elementor-element.elementor-element-3f552f4 .elementor-icon-list-item > a{font-family:"articulat-cf", Sans-serif;font-size:17px;font-weight:500;line-height:1.5em;}.elementor-177 .elementor-element.elementor-element-3f552f4 .elementor-icon-list-text{color:#FFFFFF;transition:color 0.3s;}.elementor-177 .elementor-element.elementor-element-c443411{width:var( --container-widget-width, 920px );max-width:920px;--container-widget-width:920px;--container-widget-flex-grow:0;}.elementor-177 .elementor-element.elementor-element-c443411 > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-177 .elementor-element.elementor-element-c443411 .elementor-heading-title{color:#FFFFFF;font-family:var( --e-global-typography-69a69eb-font-family ), Sans-serif;font-size:var( --e-global-typography-69a69eb-font-size );font-weight:var( --e-global-typography-69a69eb-font-weight );line-height:var( --e-global-typography-69a69eb-line-height );}.elementor-177 .elementor-element.elementor-element-f0eae41 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-177 .elementor-element.elementor-element-f0eae41{color:#A1A7B9;font-family:var( --e-global-typography-3d810ee-font-family ), Sans-serif;font-size:var( --e-global-typography-3d810ee-font-size );font-weight:var( --e-global-typography-3d810ee-font-weight );line-height:var( --e-global-typography-3d810ee-line-height );}.elementor-177 .elementor-element.elementor-element-823b9ba{--display:flex;--background-transition:0.3s;--padding-top:10px;--padding-bottom:10px;--padding-left:90px;--padding-right:10px;}.elementor-177 .elementor-element.elementor-element-4b0d321 > .elementor-widget-container{margin:58px 0px -30px 0px;}@media(min-width:768px){.elementor-177 .elementor-element.elementor-element-ef858dd{--content-width:1240px;}.elementor-177 .elementor-element.elementor-element-75e28cc{--width:50%;}}@media(max-width:1024px){.elementor-177 .elementor-element.elementor-element-ef858dd{--padding-top:60px;--padding-bottom:60px;--padding-left:10px;--padding-right:10px;}.elementor-177 .elementor-element.elementor-element-3f552f4 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-177 .elementor-element.elementor-element-3f552f4 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-177 .elementor-element.elementor-element-3f552f4 .elementor-icon-list-item > a{font-size:16px;}.elementor-177 .elementor-element.elementor-element-c443411 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-177 .elementor-element.elementor-element-c443411{--container-widget-width:651px;--container-widget-flex-grow:0;width:var( --container-widget-width, 651px );max-width:651px;}.elementor-177 .elementor-element.elementor-element-c443411 .elementor-heading-title{font-size:var( --e-global-typography-69a69eb-font-size );line-height:var( --e-global-typography-69a69eb-line-height );}.elementor-177 .elementor-element.elementor-element-f0eae41{font-size:var( --e-global-typography-3d810ee-font-size );line-height:var( --e-global-typography-3d810ee-line-height );}.elementor-177 .elementor-element.elementor-element-823b9ba{--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}.elementor-177 .elementor-element.elementor-element-4b0d321 > .elementor-widget-container{margin:40px 0px 0px 0px;}}@media(max-width:767px){.elementor-177 .elementor-element.elementor-element-c443411 .elementor-heading-title{font-size:var( --e-global-typography-69a69eb-font-size );line-height:var( --e-global-typography-69a69eb-line-height );}.elementor-177 .elementor-element.elementor-element-f0eae41{font-size:var( --e-global-typography-3d810ee-font-size );line-height:var( --e-global-typography-3d810ee-line-height );}.elementor-177 .elementor-element.elementor-element-4b0d321 > .elementor-widget-container{margin:0px 0px -30px 0px;}}/* Start custom CSS for hubspot-form, class: .elementor-element-4b0d321 */.elementor-177 .elementor-element.elementor-element-4b0d321 label, .elementor-177 .elementor-element.elementor-element-4b0d321 input, .elementor-177 .elementor-element.elementor-element-4b0d321  select,.elementor-177 .elementor-element.elementor-element-4b0d321  textarea, .elementor-177 .elementor-element.elementor-element-4b0d321  option, .elementor-177 .elementor-element.elementor-element-4b0d321 .submitted-message {
    font-family: 'articulat-cf';
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background: none !important;
    line-height: 1.4
}

.elementor-177 .elementor-element.elementor-element-4b0d321 .hs-richtext p:nth-child(2) {
    margin-bottom: -10px;
}

.elementor-177 .elementor-element.elementor-element-4b0d321 textarea.hs-input {
    height: 48px;
}
.elementor-177 .elementor-element.elementor-element-4b0d321 .hs-richtext{
    font-family: 'articulat-cf';
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    
}

.elementor-177 .elementor-element.elementor-element-4b0d321 .hs-richtext a{

    color: #fff;
    
}


.elementor-177 .elementor-element.elementor-element-4b0d321 fieldset {
    max-width: 100% !important;
}



.elementor-177 .elementor-element.elementor-element-4b0d321 input, .elementor-177 .elementor-element.elementor-element-4b0d321  select,.elementor-177 .elementor-element.elementor-element-4b0d321  textarea, .elementor-177 .elementor-element.elementor-element-4b0d321  option {
 width: 100%;
 border: none;
 border-bottom: 1px solid #A1A7B9;
 margin-bottom: 35px;
 padding: 10px 0;
 border-radius: 0;
}
ul.inputs-list.multi-container label{
    line-height: 1.5;
}
.elementor-177 .elementor-element.elementor-element-4b0d321 span.hs-form-required {
    color: #fff;
    margin-left: 5px;
}

.elementor-177 .elementor-element.elementor-element-4b0d321 label.hs-error-msg {

    color: #fff !important;
    font-family: 'articulat-cf';
    font-weight: 600;
    font-size: 17px;
}

.elementor-177 .elementor-element.elementor-element-4b0d321 ul.no-list.hs-error-msgs.inputs-list {
    list-style: none;
    margin-left: 0px;
    padding-left: 0;
    margin-top: -22px;
    margin-bottom: 20px;
}

li.hs-form-booleancheckbox span {
    line-height: 1.4 !important;
}


.elementor-177 .elementor-element.elementor-element-4b0d321 input:focus, .elementor-177 .elementor-element.elementor-element-4b0d321  select:focus,.elementor-177 .elementor-element.elementor-element-4b0d321  textarea:focus, .elementor-177 .elementor-element.elementor-element-4b0d321  option:focus {
background: transparent;
}

.elementor-177 .elementor-element.elementor-element-4b0d321 input.hs-button.primary.large {
    text-align: right;
    width: inherit;
    background-color: #CAFEFF !important;
   font-family: 'articulat-cf';
    font-weight: 700;
    font-size: 18px;
    color: #000;
    border-radius: 40px;
    padding: 16px 45px;
 border: none;
}

input.hs-button.primary.large:focus {
    background-color: #CAFEFF !important;
}



.elementor-177 .elementor-element.elementor-element-4b0d321 .actions {
    text-align: left;
    margin-top: 35px;
}

.elementor-177 .elementor-element.elementor-element-4b0d321 ul.inputs-list.multi-container {
    list-style: none;
    padding-left: 0;
}

.elementor-177 .elementor-element.elementor-element-4b0d321 li.hs-form-checkbox input {
    width: 18px !important;
    margin-bottom: 0 !important;
    margin-right: 5px
    
}

.elementor-177 .elementor-element.elementor-element-4b0d321 li.hs-form-checkbox{
    margin-top: 0px
}
ul.inputs-list.multi-container{
    margin-top: 10px
}
@media all and (max-width:767px){
    .elementor-177 .elementor-element.elementor-element-4b0d321 label, .elementor-177 .elementor-element.elementor-element-4b0d321 input, .elementor-177 .elementor-element.elementor-element-4b0d321  select,.elementor-177 .elementor-element.elementor-element-4b0d321  textarea, .elementor-177 .elementor-element.elementor-element-4b0d321  option {
    font-size: 16px;
}

.elementor-177 .elementor-element.elementor-element-4b0d321 label.hs-error-msg {
    font-size: 12px !important;

}

.elementor-177 .elementor-element.elementor-element-4b0d321 input.hs-button.primary.large, .elementor-177 .elementor-element.elementor-element-4b0d321 .hs-richtext {

    font-size: 16px;
}


}/* End custom CSS */